body{
  margin: 0;
}

p{
  margin: 0;
}

hr{
  margin: 0;
  color: black;
  background-color: black;
  border: none;
  height: 7px;
}

h1{
  margin: 0;
  font-family: 'Yomogi', cursive;
  color: black;
  font-size: 5rem;
}

.scenery{
  background-color: #B5EAEA;
  text-align: center;
  padding-bottom: 0;
  padding-top: 100px;
}

.top-h1{
  font-family: 'Yomogi', cursive;
  color: #8675A9;
  font-size: 3.5rem;
  padding: 40px 0 40px 0;
}

.cloud2{
  animation: 2s ease-out 0.1s 1 slideInFromLeft;
    animation-fill-mode: forwards;

  position: absolute;
  right:450px;

    z-index: 2;
}

.cloud1{
  animation: 2s ease-out 0.1s 1 slideInFromRight;
    animation-fill-mode: forwards;

  position: absolute;
  left: 540px;
  top: 150px;

    z-index: 2;
}

.clouds{
  width: 270px;
}

.sun{
  animation: 5s ease-out 2s 1 sunMove alternate;
  animation-iteration-count:infinite;
}

.second{
  background-color: #C9E4C5;
}


/* ANIMATIONS */

@keyframes slideInFromRight {
    100% {
        transform: translateX(60%);
    }
}

@keyframes slideInFromLeft {
    100% {
        transform: translateX(-60%);
    }
}

@keyframes sunMove {
  0% {
    transform: translateX(0);
  }

  100%{
    transform: translateY(-13%);
  }
}
